/* Completely up to us, not to be focused on too much */
body {
background-color: darksalmon;
}

div {
text-align: center;

}

#image {
    
    width: 830px;
    height: 270px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#button {
font-family: 'STIX Two Text', serif;
}

ul {
font-family: 'Roboto', sans-serif;
margin: 2px;
border: 1px;
border-color: white;
padding: 3%;
background-color: rgb(173, 111, 90);
color: white;

}